@tailwind base;
@tailwind components;
@tailwind utilities;


.taskRow:hover {
    animation: taskAnim 0s ease-in 0s forwards;
    color: rgb(224, 214, 203);
}


@keyframes taskAnim {
    to {
        --tw-bg-opacity: 1;
        background-color: rgb(0 0 0 / var(--tw-bg-opacity));
        color: white;
    }
}

/* Total scrollbar width */
::-webkit-scrollbar {
    width: 12px;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
    background: #616161;
    border-radius: 10px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #797979;
}