@tailwind base;
@tailwind components;
@tailwind utilities;


.taskRow:hover {
    animation: taskAnim 0.2s ease-in 0s forwards;
}


@keyframes taskAnim {
    from {
        --tw-bg-opacity: 1;
        background-color: rgb(241 245 249 / var(--tw-bg-opacity));
    }

    to {
        --tw-bg-opacity: 1;
        background-color: rgb(2 6 23 / var(--tw-bg-opacity));
        color: white;
    }
}

